---
import { SOCIALS } from "@/constants";
---

<div class="flex flex-wrap items-center gap-2">
  {
    SOCIALS.map(social => (
      <a
        href={social.href}
        class="term-social"
        title={social.linkTitle}
        aria-label={social.linkTitle}
        target="_blank"
        rel="noopener noreferrer"
      >
        <social.icon class="size-3.5 fill-transparent stroke-current stroke-2" />
      </a>
    ))
  }
</div>
