---
type Props = {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
};

const { tag, tagName, size = "lg" } = Astro.props;
---

<li>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "term-tag inline-flex items-center no-underline",
      size === "lg" ? "text-[12px] py-0.5 px-2" : "text-[11px]",
    ]}
    style="color: inherit;"
  >
    #{tagName}
  </a>
</li>
